<head> <b> SQL Case Study </b> </head>

Question 1: Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do.

SELECT name AS Facility
FROM Facilities
WHERE membercost > 0

Facility
Tennis Court 1
Tennis Court 2
Massage Room 1
Massage Room 2
Squash Court